# Скомпилированные бинарные файлы (результаты go build)
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# Папка для локальных зависимостей (создается только при использовании go mod vendor)
vendor/

# Файлы конфигурации и секреты (никогда не отправляйте их в Git)
.env
*.env.local
config.local.yaml

# Логи и временные файлы теста производительности
*.log
*.test
*.prof
*.cpu
*.mem

# Файлы настроек редакторов кода (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
